# Maven
target/
*.class
*.jar
*.war

# IDE
.idea/
*.iml
.vscode/
*.swp

# Terraform
**/.terraform/
*.tfstate
*.tfstate.backup
*.tfvars
!*.tfvars.example
.terraform.lock.hcl

# Node / Angular
node_modules/
dist/
.angular/

# OS
.DS_Store
Thumbs.db

# Logs
*.log
logs/


# Secrets — jamais en clair dans Git
*.env
.env*
secrets/

# Notes personnelles
journal.md
